# Handle line endings automatically for files detected as text and leave all
# files detected as binary untouched.
* text=auto

# Shell scripts used in Linux containers must stay LF in the working tree.
/docker/*.sh               text eol=lf
/docker/xvfb               text eol=lf
/sbin/*.sh                 text eol=lf

# Files and directories with the attribute export-ignore won’t be added to
# archive files. See http://git-scm.com/docs/gitattributes for details.

# Git
/.github/                   export-ignore
/.gitignore                 export-ignore

# Coverage
/.coveragerc                export-ignore
/codecov.yml                export-ignore

# Linting
/.flake8                    export-ignore

# Tests
/tests/                     export-ignore
/unittesting.json           export-ignore
